.main-content {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 40px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #ff620059;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .main-content-text {
    flex: 1;
    text-align: left;
    max-width: 800px;
    margin-right: 40px;
  }
  
  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .main-content p {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  
  .main-content-image {
    flex: 1;
  }
  
  .main-content-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  


  .main-content-dos {
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 40px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #f8f8f85b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .main-content-image-dos {
    flex: 1;
    text-align: left;
  }
  
  .main-content-image-dos img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .main-content-text-dos {
    flex: 1;
    text-align: left;
    max-width: 800px;
    margin-left: 40px;
  }
  
  .main-content-dos h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .main-content-dos p {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  